# Compiled Object files
*.o
*.lo
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.elf
*.gba

# Temporary Files
*.swo
*.swp

# Emulator Files
*.sav

# Unwanted Directories
build/
examples/
dist/

# Backup Files
*~
*.bak

# Other unwanted Files
*.log
*.tmp
*.tmp.*

# IDE and Editor Files
*.project
*.cproject
*.settings/
*.vscode/
*.idea/
*.DS_Store
